.grid-container {
  display: grid;
  grid-template-columns: 100px 2px auto auto auto auto auto auto;
  grid-auto-rows: 1fr;
  background-color: #fafafa;
  max-width: 460px; /* 60% */
  min-width: 460px; /* 60% */
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2px;
  box-shadow: 0 0 7.5px black;
}

.item1 {
  display: grid;
  grid-area: 1 / 1;
  grid-row: 1 / 4;
  max-height: 100%;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.item2 {
  display: grid;
  grid-column: 2 ;
  grid-row: 1 / 4;
  
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  background-color: darkslategray;
}

.item3{
  display: grid;
  grid-column: 3 / 9;
  grid-row: 1;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  /*background-color: red;*/
}

.item4{
  display: grid;
  grid-column: 3 / 9;
  grid-row: 2;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  /*background-color: seagreen;*/
}

.item5{
  display: grid;
 /* background-color: yellow;*/
  grid-column: 3/7;
  grid-row: 3;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.item6{
  display: grid;
 /* background-color: orange;*/
  grid-column: 7/8;
  grid-row: 3;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.item7{
  /*background-color: orchid;*/
  display: grid;
  grid-column: 8/9;
  grid-row: 3;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.tile-featured-image {
  max-height: 100px;
}


.tile-blog-headline{
  text-align: left;
  font-family: courier, monospace;
  font-size: 1.025em; /* 14px/16=0.875em */
  margin: 0;
  padding: 0;
  line-height: 33.33px;
  margin-left: 10px;
  text-overflow: ellipsis;
  font-weight: 600;
}

.tileblog-hook{
  text-align: left;
  display: table-cell;
  font-family: courier, monospace;
  font-size: 0.925em; /* 14px/16=0.875em */
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.HeaderTitle{
  font-family: courier, monospace;
  font-size: 3.0em;
}

.tile-share{
  max-height: 100%;
}

.tile-share-icon{
  max-height: inherit;
  max-width: 40%;
  align-items: left;
  padding: 0px;
}

.tile-bolt-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  max-height: 100%;
  text-align: left;
}

.tile-bolt-icon{
  max-height: inherit;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-column: 1;
  grid-row: 2;
}

p.tile-bolt-count{
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-column: 2;
  grid-row: 2;
  font-family: courier, monospace;
  font-size: 0.925em; /* 14px/16=0.875em */
}

.tile-bolt-top{
  display: grid;
  grid-column: 1;
  grid-row: 1;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.tile-bolt-bottom{
  display: grid;
  grid-column: 1;
  grid-row: 3;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.tile-bolt-count-top{
  display: grid;
  grid-column: 2;
  grid-row: 1;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.tile-bolt-count-bottom{
  display: grid;
  grid-column: 2;
  grid-row: 3;
  max-height: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}